nav {
    background-color: rgb(23, 143, 143);
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

nav a {
    padding: 10px;
    text-decoration: none;
    color: whitesmoke;
    font-size: 1.25rem;
}

nav a:hover {
    color: black;
    font-weight: bold;
}

.active {
    color: black;
    font-weight: bold;
}
