.Snack {
    width: 250px;
    padding: 10px;
    position: absolute;
    left: 50%;
    top: 84%;
    transform: translate(-50%, -50%);
    background-color: whitesmoke;
    border: 2px solid black;
    border-radius: 5px;
}
